Establishing a Connection :

In [1]:
# Importing MySQL Connector/Python 

import mysql.connector as connector
from mysql.connector import Error

In [4]:
# Establishing connection between Python and MySQL database via connector API

try:
    connection=connector.connect(user="root",password="")
except Error as er:
    print(er.msg)

print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

Creating a Cursor :

In [5]:
# Creating cursor object to communicate with entire MySQL database

cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

Setting the Database for use :

In [6]:
cursor.execute("USE SchoolDB;")
connection.database
print("The database SchoolDB is set for use.")

The database SchoolDB is set for use.

In [7]:
# Query to show the columns from the Student table

show_columns_query = "SHOW COLUMNS FROM Student;" 

cursor.execute(show_columns_query)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('Field', 'Type', 'Null', 'Key', 'Default', 'Extra')
('Roll_no', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(255)', 'NO', '', None, '')
('phone', 'bigint', 'NO', '', None, '')
('marks', 'int', 'NO', '', None, '')
('favourite_subjects', 'varchar(255)', 'YES', '', None, '')

In [8]:
# Query to see all the data in the Student table

show_table_data = "SELECT * FROM Student;" 

cursor.execute(show_table_data)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('Roll_no', 'name', 'phone', 'marks', 'favourite_subjects')
(1, 'Rohan Verma', 8764568324, 98, 'Maths')
(2, 'Aarav Kapoor', 9875389045, 85, 'Science')
(3, 'Ananya Sharma', 9876543222, 92, 'English')
(4, 'Ishita Verma', 9876543210, 72, 'Hindi')
(5, 'Rajat Singhania', 8765432109, 39, 'History')
(6, 'Nisha Khanna', 7654321098, 56, 'English')
(7, 'Siddharth Reddy', 6543210987, 85, 'Maths')
(8, 'Priya Desai', 5432109876, 96, 'Physical Education')
(9, 'Vikram Yadav', 4321098765, 62, 'Geography')
(10, 'Meera Joshi', 3210987654, 59, 'Biology')
(11, 'Rohan Malhotra', 2109876543, 74, 'English')
(12, 'Preeti Chatterjee', 1098765432, 89, 'Geography')
(13, 'Aditya Rajput', 9870123456, 44, 'Hindi')
(14, 'Kavya Kapoor', 8901234567, 52, 'Physical Education')
(15, 'Varun Mehra', 7890123456, 49, 'History')
(16, 'Jaya Nair', 6789012345, 60, 'Biology')
(17, 'Dev Khurana', 5678901234, 81, 'Hindi')
(18, 'Shruti Sharma', 4567890123, 53, 'Physical Education')
(19, 'Aniket Kapoor', 3456789012, 63, 'Science')
(20, 'Swara Banerjee', 2345678901, 58, 'Geography')
(21, 'Arnav Singh', 1234567890, 93, 'Maths')
(22, 'Riya Bhatia', 8765432101, 83, 'Maths')
(23, 'Pranav Deshmukh', 7654321090, 99, 'Science')
(24, 'Aisha Kumar', 6543210980, 59, 'Science')
(25, 'Karthik Rana', 5432109870, 69, 'Hindi')

In [9]:
# Query to see triggers

show_trigger = "SHOW triggers;" 

cursor.execute(show_trigger)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('Trigger', 'Event', 'Table', 'Statement', 'Timing', 'Created', 'sql_mode', 'Definer', 'character_set_client', 'collation_connection', 'Database Collation')
('prevent_drop_Student', 'DELETE', 'Student', "BEGIN\n    SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Cannot Drop Student Table';\nEND", 'BEFORE', datetime.datetime(2024, 2, 1, 19, 27, 36, 700000), {'NO_ZERO_IN_DATE', 'ONLY_FULL_GROUP_BY', 'ERROR_FOR_DIVISION_BY_ZERO', 'NO_ENGINE_SUBSTITUTION', 'STRICT_TRANS_TABLES', 'NO_ZERO_DATE'}, 'root@localhost', 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')

In [10]:
# Query to calculate the average marks of students

avg_marks = "SELECT AVG(marks) AS average_marks FROM Student;" 

cursor.execute(avg_marks)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('average_marks',)
(Decimal('70.8000'),)

In [11]:
# Query to calculate the unique number of subjects

unique_subjects = "SELECT COUNT(DISTINCT favourite_subjects) FROM Student;" 

cursor.execute(unique_subjects)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('COUNT(DISTINCT favourite_subjects)',)
(8,)

Closing the Connection between Python and MySQL database :

In [12]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.